<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reminder of how the localStorage works</title>
  </head>
  <body>
    <h1>List to do</h1>

    <input type="text" placeholder="tipe something" class="inputText" />
    <button class="toDoButton">send</button>
    <button class="cleanButton">clean</button>
    <button class="cleanAllButton">clean all</button>

    <ul class="ulPut"></ul>

    <script src="./index.js"></script>
  </body>
</html>
